
<ul>
    <li>
        <a target="_blank" href="https://knockouthairstudio.com/about-us/"><img src="images/knockout.png" alt="Knockout Hair Salon"></a>
    </li>
    <li>
        <a target="_blank" href="https://www.instagram.com/cutting_edge_kade/"><img src="images/insta.png" alt="Instagram"></a>
    </li>
    
    <li>
        <a target="_blank" href="https://www.tiktok.com/@cutting_edge_kade"><img src="images/tiktok.png" alt="Tiktok"></a>
    </li>
</ul>
<p id="built-by"><a target="_blank" href="/itis3135/joshwilbanks.dev/">Josh Wilbanks Development Services ©2025</a></p>