<nav style="margin-bottom: 20px;">
    <ul>
        <li><a href="https://webpages.charlotte.edu/jwilban3/">CLT Webpage</a></li>
        <li><a href="https://github.com/joshWilbanks-school">Github</a></li>
        <li><a href="https://joshWilbanks-school.github.io/">Github.io</a></li>
        <li><a href="https://www.linkedin.com/in/josh-wilbanks/">LinkedIn</a></li>
        <li><a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fwebpages.charlotte.edu%2Fjwilban3%2F">HTML Validation</a></li>
        <li><a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fwebpages.charlotte.edu%2Fjwilban3%2F&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">CSS Validation</a></li>
        <li><a href="jazzy_wombat/index.html">The Jazzy Wombat</a></li>
        <li><a href="stuff/images/WEbpAge & index thing.htm">Crappy Webpage</a></li>
        <li><a href="hobby/index.html">Hobby</a></li>

    </ul>
</nav>
<p>Page built by: <a href="joshwilbanks.dev">Josh Wilbanks Development Services ©2025</a></p>
<p><a href="https://www.freecodecamp.org/certification/JoshWilbanks/javascript-algorithms-and-data-structures-v8" >Certified in JS</a></p>	
