
main ul {
    display: grid;
    width: auto;
    margin: 0;
    padding: 15px 15px;
    gap: 15px;
    box-sizing: border-box;
    grid-template-columns: 1fr;
}


@media screen and (min-width: 650px) {
        
    main ul {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 900px) {
        
    main ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    main ul {
        padding-left: 0;
        padding-right: 0;
    }
}

main li {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}


main img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}